<% provide(:button_text, '追加する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">【残業申請】</h4>
      </div>
      <div class="modal-body">
        <table class="table table-bordered table-striped table-overwork">
          <thead>
          <tr>
           <th>日付</th>
           <th>曜日</th>
           <th>終了予定時間</th>
           <th>翌日</th>
           <th>業務処理内容</th>
           <th>指示者確認㊞</th>
         </tr>
         </thead>
       <tbody>
         
         <tr>
          <td class="table-overwork"><%= @day %></td>
          <td>
            <% if @day.wday == 0 %>
              <font color="red">日</font>
            <% elsif @day.wday == 1 %>
              <font color="black">月</font>
            <% elsif @day.wday == 2 %>
              <font color="black">火</font>
            <% elsif @day.wday == 3 %>
              <font color="black">水</font> 
            <% elsif @day.wday == 4 %>
              <font color="black">木</font> 
            <% elsif @day.wday == 5 %>
              <font color="black">金</font>  
            <% elsif @day.wday == 6 %>
              <font color="blue">土</font>
            <% end %>
          </td>
          <td></td>
          <td>
              <%= check_box_tag :check %>
          </td>
          <td></td>
          <td></td>
         </tr>
         
       </tbody>
       </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-block">残業を申請する</button>
      </div>
  </div>
</div>




