<h1>勤怠修正ログ（承認済）</h1>

<table class="table table-bordered table-condensed user-table">
    
<tr>
<td><b>日付</b></td>
<td><b>変更前出社時間</b></td>
<td><b>変更前退社時間</b></td>
<td><b>変更後出社時間</b></td>
<td><b>変更後退社時間</b></td>
<td><b>指示者</b></td>
<td><b>承認日</b></td>
</tr>

</table>