/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* ユーザー情報下ボタン */

.btn-users-show {
  margin-top: -10px;
  margin-bottom: 10px;
}

/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}


/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }  
}

.btn-info {
  margin-left:20px;
  margin-right:20px;
  background-color:#337AB7;
  border-color:#2e6da4;
}

.btn-info:hover {
  margin-left:20px;
  margin-right:20px;
  background-color:#286090;
  border-color:#204d74;
}

.btn-success{
  background-color:#337AB7;
  border-color:#2e6da4;
}

.btn-file{
  border: 1px solid #bbb;
  margin-bottom: 15px;
  width:300px;
  padding: 0px;
}

.csv {
  width:300px;
}



.table-margin{
  margin-top:10px;
}

.index-example{
  font-size: 18px;
  margin-left: 0px;
}

